<div class="centralized-container">
    <h1 id="title"><strong>Sorteador de Pokémon</strong></h1>
    <h4 id="subtitle"><strong> Temos que pegar, eu sei</strong></h4>
    <div>
      <div class="content" fxLayout="row" fxLayout.md="column" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill>
        <div  fxFlex="50"  fxFlex.md="20" *ngFor="let p of pokemons | async" class="item">
          <div class="item-list">
            <img id="pokeimg" [src]="p.image.hires" alt="encrypted"/>
            <div class="footer">
              <div class="num-name">
                <h2 *ngIf="discover"><strong>{{p.name.english}}</strong></h2>
              </div>
            </div>
          </div>

        </div>
      </div>
        <div class="buttons">
            <button id="first" mat-raised-button  (click)="sort()" >Sortear</button>
            <button id="second" mat-raised-button  (click)="mostrar()" >Descobrir</button>
        </div>
    </div>

</div>

